@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    KoolVegan<br />
    Berlin, Germany<br />
    <abbr title="Phone">P:</abbr>
    +49.000.0000000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:kool.vegane@gmail.com">kool.vegane@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:kool.vegane@gmail.com">kool.vegane@gmail.com</a>
</address>
